@{
    ViewData["Title"] = "Student Management System";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Student Management System</h1>
    <p>Here, you can register as a student, enroll in courses, and view your grades provided by teachers.</p>
  @*   <div class="mt-5">
        <a href="/User/Register" class="btn btn-primary btn-lg mr-3">Register</a>
        <a href="/User/Login" class="btn btn-success btn-lg">Login</a>
    </div> *@
</div>
