@model SMS_APP.Models.User

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Register</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">Name</label>
                            <input asp-for="UserName" class="form-control" required/>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email" class="form-control" type="email" id="email" name="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        </br>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.validator.addMethod("gmailFormat", function (value, element) {
            return this.optional(element) || /\b[A-Za-z0-9._%+-]+@@gmail\.com\b/.test(value);
        }, "Please enter a valid email");

        // Initialize jQuery validation
        $("#email").rules("add", {
            required: true,
            email: true,
            gmailFormat: true,
            messages: {
                required: "Email is required",
                email: "Invalid email address",
                gmailFormat: "Please enter a valid email"
            }
        });
    });
</script>




